.admin-section {
    margin-bottom: 30px;
    .devrix-img {
        width: 100px;
        height: 100px;
    }
    .admin-info {
        margin-left: 100px;
        position: relative;
        margin-top: -80px;
        .admin-title {
            display: inline;
        }
        .date {
            color: #a7a6a6;
            display: inline;
        }
    }
    .comment-area {
        color: #9c9c9c;
        font-family: sans-serif;
        border: none;
        margin-top: 20px;
        margin-left: 100px;
    }
    .tags {
        margin-left: 100px;
        .add-tag {
            font-family: sans-serif;
            font-style: oblique;
            background-color: #f2efef;
            color: #b1a7a7;
            border: none;
            border-radius: 3px;
            height: 25px;
        }
        .tags-area {
            color: #c0c0c0;
            font-family: sans-serif;
            font-style: oblique;
            font-size: 15px;
            border: none;
            margin-left: 30px;
        }
        .cancel-button {
            font-weight: bold;
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            color: #a7a6a6;
            border: none;
            margin-right: 30px;
        }
        .publish-button {
            font-weight: bold;
            background-color: #f2efef;
            color: #b1a7a7;
            border: none;
            padding: 8px;
            border-radius: 3px;
        }
    }
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .admin-section {
        width: auto;
        .admin-info {
            width: auto;
        }
        .comment-area {
            font-weight: 100;
            width: 70%;
        }
        .tags {
            .tags-area {
                width: 90%;
                margin-bottom: 20px;
                margin-top: 20px;
                margin-left: 0;
            }
            .cancel-button {
                width: auto;
                margin-left: 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* For tablets: */
}