.order-type {
    .off {
        margin: 5px;
        text-decoration: none;
        color: #a7a6a6;
    }
    .on {
        margin: 10px;
        text-decoration: none;
        color: #2e62d3;
    }
}