.order-type {
    margin-top: 20px;
    letter-spacing: 0.2px;
    .off {
        margin: 5px;
        text-decoration: none;
        color: #a7a6a6;
    }
    .on {
        margin: 10px;
        text-decoration: none;
        color: #3399ff;
    }
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .order-type {
        .order-span {
            visibility: hidden;
            display: none;
        }
        .on {
            margin: 6px;
        }
    }
}